body {
  font-family: Sans-Serif;
}

#container {
  display: block;
}

#options {
  display: block;
}

@media (min-width: 520px) {
  #container {
    display: flex;
  }

  #options {
    margin: auto 0;
    display: flex;
    flex-direction: column;
  }

  #options > * {
    margin-bottom: 10px;
  }

  canvas {
    width: 100vw !important;
    max-width: 600px;
  }
}
